.navlink {
  margin-bottom: 10px;
  &:disabled,
  &[data-disabled] {
    color: var(--color-purple-400);
  }

  &:hover,
  &[data-active] {
    background-color: var(--color-purple-200);
    border-radius: 8px;
    color: var(--color-purple-main);
    font-weight: bold;
  }

  
}